# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Stuff
config_files_fixer.sh
info.txt
additional-things-to-do.txt
notes-for-Chris-A.txt
aws-keys.png
logs/
Cust_Keys/