# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Stuff
config_files_fixer.sh
info.txt
additional-things-to-do.txt
notes-for-Chris-A.txt
aws-keys.png
eval-fixup.txt
base.txt
commio_setup.txt
dial_rules.py
home-telecom.txt
PerGatewayPasswords..PNG
steps.txt
config_files.txt
logs/
Cust_Keys/